.card{
  padding:20px;
  margin: 5px;
  text-align: center;
  align-items: center;
  min-width: calc(100% / 6);
  border-radius: 5px;
  border: 1px solid grey;
  min-height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  img{
    width: 200px;
    height: 200px;
  }
}
