.card_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
h3,
h6{
  padding: 3px 0px;
}
select{
  color: grey;
  background-color: #fff;
  margin: 10px;
  height: 30px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 0;
  padding: 0px 10px;
  border: 1px solid grey;
  border-radius: 5px;
}
